---
import BaseInterection from "../../layouts/BaseInterection.layout.astro";
---

<BaseInterection
    title="Términos, Condiciones y Restriciones"
    description="Aquí podrás encontrar toda la información sobre políticas y nuestros términos."
>
    <section>
        <h1>Política de Tratamiento de Datos Personales</h1>

        <h2>1. Responsable del Tratamiento de Datos Personales</h2>
        <p>
            AENS TECH, empresa con sede en Colombia, se encarga de la
            recolección, almacenamiento y tratamiento de los datos personales.
            Para consultas o solicitudes relacionadas con el manejo de sus
            datos, puede contactarnos en:
        </p>
        <p><strong>Correo electrónico:</strong> contacto@aenstech.com</p>

        <h2>2. Datos Recopilados</h2>
        <p>
            Recolectamos los siguientes datos personales a través de nuestra
            API:
        </p>
        <ul>
            <li>Nombre</li>
            <li>Correo electrónico</li>
            <li>Teléfono</li>
            <li>Fecha de nacimiento</li>
            <li>Ciudad de residencia</li>
            <li>País de residencia</li>
            <li>Otros datos relacionados con sus preferencias e intereses.</li>
        </ul>

        <h2>3. Finalidad del Tratamiento de Datos</h2>
        <p>Los datos personales recopilados se utilizan para:</p>
        <ul>
            <li>
                Enviar promociones segmentadas según los intereses del usuario.
            </li>
            <li>
                Compartir información con terceros, en caso de ser necesario.
            </li>
            <li>
                Mejorar nuestros productos y servicios, así como la experiencia
                del usuario.
            </li>
        </ul>

        <h2>4. Compartición de Datos con Terceros</h2>
        <p>
            Podemos compartir los datos personales con empresas externas para
            fines comerciales o promocionales, siempre garantizando que dichas
            empresas cumplan con las leyes de protección de datos aplicables.
        </p>

        <h2>5. Almacenamiento de Datos</h2>
        <p>
            Los datos personales se almacenan en servidores en la nube, con los
            estándares de seguridad adecuados para evitar acceso no autorizado,
            pérdida o manipulación de la información.
        </p>

        <h2>6. Derechos de los Usuarios</h2>
        <p>Los usuarios tienen derecho a:</p>
        <ul>
            <li>Solicitar acceso a sus datos personales.</li>
            <li>Solicitar la modificación o corrección de sus datos.</li>
            <li>
                Solicitar la eliminación de sus datos de nuestros registros.
            </li>
        </ul>
        <p>
            Para ejercer estos derechos, los usuarios pueden contactarnos en:
            contacto@aenstech.com.
        </p>

        <h2>7. Uso de Cookies</h2>
        <p>
            AENS TECH puede utilizar cookies u otras tecnologías similares para
            mejorar la experiencia de navegación. El usuario puede ajustar las
            preferencias de cookies desde su navegador.
        </p>
    </section>

    <section>
        <h1>Términos y Condiciones</h1>

        <h2>1. Introducción</h2>
        <p>
            Al utilizar los servicios de AENS TECH, usted acepta los siguientes
            términos y condiciones. Estos términos pueden ser modificados en
            cualquier momento, y se notificará a los usuarios mediante correo
            electrónico o una notificación en nuestra plataforma.
        </p>

        <h2>2. Servicios Ofrecidos</h2>
        <p>
            AENS TECH proporciona servicios de desarrollo de software y
            formaciones digitales. El uso de nuestros servicios está sujeto a
            estos términos y a cualquier política adicional aplicable.
        </p>

        <h2>3. Uso Aceptable de los Servicios</h2>
        <p>
            Los usuarios deben utilizar los servicios de manera legal y
            respetuosa. No se permite el uso de nuestros servicios para fines
            fraudulentos, ilegales o abusivos.
        </p>

        <h2>4. Responsabilidad del Usuario</h2>
        <p>
            El usuario es responsable de proporcionar información veraz y
            actualizada al utilizar nuestros servicios. AENS TECH no se hace
            responsable por cualquier daño o perjuicio resultante del uso
            incorrecto de la información proporcionada.
        </p>

        <h2>5. Modificaciones a los Términos</h2>
        <p>
            Nos reservamos el derecho de modificar los presentes términos en
            cualquier momento. Las modificaciones serán notificadas previamente
            a los usuarios y entrarán en vigor a los 30 días de su notificación.
        </p>
    </section>

    <section>
        <h1>Restricciones</h1>
        <p>
            Actualmente, no hay restricciones de uso para los servicios de AENS
            TECH. Los servicios están disponibles para usuarios de cualquier
            edad o ubicación, siempre que respeten las condiciones establecidas.
        </p>
    </section>
</BaseInterection>

<style>
    section {
        margin-bottom: 90px;
    }

    h1 {
        font-weight: 800;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    h2 {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 15px;
        font-size: 0.8rem;
    }

    li {
        margin-bottom: 5px;
        margin-left: 25px;
        font-size: 0.8rem;
        list-style-type: lower-roman;
    }
</style>
